{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="about-us">
        <h1>Bienvenue sur la page d'accueil !</h1>
    </div>

{% endblock %}